body{
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: "Circular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body header {
    color: #484848;
}

body footer {
    color: #484848;
}